// global
$obsidianBlack:#0b1215; //obsidian black

// social challenge colors
$scWhite:hsl(0, 0%, 100%);
$scGreen:hsl(75, 94%, 57%);
$scGreyLight:hsl(0, 0%, 20%);
$scGreyReg:hsl(0, 0%, 12%);
$scGreyBold:hsl(0, 0%, 8%);

// advice generator colors
$body-bg:#202632;
$green-color:#52FEAC;
$card-color:#313A49;
$text-color:#9BACB4;

// recipe page colors
$rpStone100:hsl(30, 54%, 90%);
$rpStone150:hsl(30, 18%, 87%);
$rpStone600:hsl(30, 10%, 34%);
$rpStone900:hsl(24, 5%, 18%); 
$rpBrown800:hsl(14, 45%, 36%);
$rpRose800:hsl(332, 51%, 32%);
$rpRose50:hsl(330, 100%, 98%);