@mixin borders {
    border-radius: 0.8rem;
    border-style: none;
}

@mixin buttons {
    padding: 1rem;
    text-align: center;

    &:hover {
        cursor: pointer;
        transition: 0.5s;
    }
}

@mixin underline {
    display: block;
    width: 100%;
    height: 0.1rem;
}

// variables for breakpoints
$mobile-breakpoint: 760px;
$tablet-breakpointmax: 1024px;
$tablet-breakpointmin: 761px;
$desktop-breakpoint: 1025px;

// mixins for each breakpoint in the responsive design
@mixin mobile {
    @media screen and (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: $tablet-breakpointmax) and (min-width: $tablet-breakpointmin){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}