// social links challenge
// normal
@font-face {
    font-family: 'Inter';
    src: url("../../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

// semibold
@font-face {
    font-family: 'Inter';
    src: url("../../assets/fonts/Inter-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

// bold
@font-face {
    font-family: 'Inter';
    src: url("../../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

// advice generator challenge
// Light
@font-face {
    font-family: 'Toboggan';
    src: url("../../assets/fonts/Toboggan-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
}

// Medium Italic
@font-face {
    font-family: 'Toboggan';
    src: url("../../assets/fonts/Toboggan-MediumItalic.woff") format('woff');
    font-weight: normal;
    font-style: italic;
}

// recipe page challenge
@font-face {
    font-family: 'Young Serif';
    src: url("../../assets/fonts/YoungSerif-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

// light
@font-face {
    font-family: 'Outfit';
    src: url("../../assets/fonts/Outfit-Light.ttf") format('ttf');
    font-weight: 400;
    font-style: normal;
}

// regular
@font-face {
    font-family: 'Outfit';
    src: url("../../assets/fonts/Outfit-Regular.ttf") format('ttf');
    font-weight: 600;
    font-style: normal;
}

// bold
@font-face {
    font-family: 'Outfit';
    src: url("../../assets/fonts/Outfit-Bold.ttf") format('ttf');
    font-weight: 700;
    font-style: normal;
}