@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.rpBody {
    background-color: $rpStone100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @include mobile {
        height: unset;
    }
}

// main container for recipe
.rpContain {
    background-color: $scWhite;
    @include borders;
    padding: 1.5rem;
    width: 25rem;

    @include mobile {
        padding: 0rem 0rem 1rem 0rem;
        border-radius: unset;
        width: 100%;
    }
    h1, h2, h3, h4 {
        font-family: 'Young Serif', 'Times New Roman', Times, serif;
    }
    p, ol, ul, li {
        font-family: 'Outfit', 'Times New Roman', Times, serif;
        line-height: 22px;
        font-size: 0.875rem;
        @include mobile {
            font-size: 1rem;
            line-height: 25px;
        }
    }
}

// header section
.heading {
    & > h1 {
        font-size: 1.25rem;
        color: $rpStone900;
        @include mobile {
            padding: 0rem 2rem;
            font-size:2.5rem;
            margin: 1rem 0rem
        }
    }
    & > img {
        @include borders;
        width: 100%;

        @include mobile {
            border-radius: unset;
        }
    }
    &__description {
        color: $rpStone600;
        font-weight: 600;
        @include mobile {
            padding: 0rem 2rem;
        }
    }
}

// preparation section
.prepContain {
    background-color: $rpRose50;
    padding: 1.25rem;
    @include borders;

    @include mobile {
        padding: 2rem;
        margin: 1rem 2rem;
    }

    & > h2 {
        font-family: 'Outfit';
        font-size: 1rem;
        font-weight: 700;
        color: $rpRose800;
        margin: 0rem 0rem 0.8rem 0rem;

        @include mobile {
            font-size: 1.2rem;
        }
    }
    &__lists {
        margin: 0;
        padding-left: 1.5rem;

        & > li {
            font-weight: 400;
            color: $rpStone600;
            &::marker {
                color: $rpRose800;
            }
        }
    }
}
.list--spacing {
    position: relative;
    left: 10px;

    & > span {
        font-weight: 700;
    }
}

// ingredients section
.ingredients {
    @include mobile {
        margin: 0rem 2rem;
    }
    & > h2 {
        color: $rpBrown800;
        font-size: 1.15rem;
        @include mobile {

        }
    }
    & > ul {
        padding-left: 1rem;
        & li {
            color: $rpStone600;
            &::marker {
                color: $rpBrown800;
            }
        }
    }
}