@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.rpBody {
    background-color: $rpStone100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// main container for recipe
.rpContain {
    background-color: $scWhite;
    @include borders;
    padding: 1.5rem;
    width: 25rem;
    h1, h2, h3, h4 {
        font-family: 'Young Serif', 'Times New Roman', Times, serif;
    }
    p, ol, ul {
        font-family: 'Outfit', 'Times New Roman', Times, serif;
    }
}

// header section
.heading {
    & > h1 {
        font-size: 1.25rem;
        color: $rpStone900;
    }
    & > img {
        @include borders;
        width: 100%;
    }
    &__description {
        color: $rpStone600;
        font-size: 0.875rem;
        font-weight: 600;
    }
}

// preparation section
.prepContain {
    background-color: $rpRose50;
    padding: 1.25rem;
    @include borders;

    & > h2 {
        font-family: 'Outfit';
        font-size: 1rem;
        font-weight: 700;
        color: $rpRose800;
        margin: 0rem 0rem 0.8rem 0rem;
    }
    &__lists {
        margin: 0;
        padding-left: 1.5rem;

        & > li {
            font-weight: 400;
            font-size: 0.875rem;
            color: $rpStone600;
        }
        &--spacing {
            position: relative;
            left: 10px;

            & > span {
                font-weight: 700;
            }
        }
    }
}