@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.tdBody {
    background-color: $obsidianBlack;
    font-family: 'Rubik', 'Times New Roman', Times, serif;
    color: $scWhite;
    @include body-center;
}