@use '../../styles/partials/typography' as *;
@use '../../styles/partials/colors' as *;

.home {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: $scWhite;
    padding: 2rem 2rem;
}

.homeContent {

    & > article > h2 {
        margin-bottom: 0.5rem;
    }

    &__underline {
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: $obsidianBlack;
        animation: lineToRight 3s linear 0.5s normal;
    }
}

@keyframes lineToRight {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}